@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/section.css" />
    <link rel="stylesheet" type="text/css" href="~/css/container.css" />
    <link rel="stylesheet" type="text/css" href="~/css/price.css" />
    <link rel="stylesheet" type="text/css" href="~/css/news.css" />
}

<!--Landing section-->
<section class="bg-img text-center">
    <h2>
        <strong>Bug Catcher</strong> provides better
        <span class="rotate">defect management,team communication,product distribution</span>
    </h2>

</section>
<!--END Landing section-->

<div class="container">
    <div class="col-md-7">
        <section>
            <h4>
                Start using BugCatcher now to feel the differences and the power of handling errors.
            </h4>
            <h4>
                BugCatcher is completely free and open source under the GNU AGPL v3.0.
                The tool is yours. You're free to adapt and evolve the software.
            </h4>
        </section>

    </div>
    <div class="col-md-5">
        <section>
            <h4 class="text-capitalize">Lastest News</h4>

            <article class="news">
                <div class="news-date"> Dec 03, 2017 </div>
                <div class="news-title">
                    <a class="news-link" href="https://godotengine.org/article/shedding-light-on-godot-development-process">
                        This is some news number 1 and it's important
                    </a>
                </div>
            </article>

            <article class="news">
                <div class="news-date"> Nov 11, 2017 </div>
                <div class="news-title">
                    <a class="news-link" href="https://godotengine.org/article/shedding-light-on-godot-development-process">
                        This is some news number 2
                    </a>
                </div>
            </article>

            <a class="more-news news-link" href="#">More news »</a>

        </section>

    </div>

</div>

<section class="bg-alt" style="background-image: url(images/background2.jpg);">
    <div class="container">
        <header class="section-header">
            <span>Learning</span>
            <h2>Documentation</h2>
            <p>Are you new around here? Learn how to use the site!</p>
        </header>
    </div>
</section>


<!--Pricing section-->
<section class="bg-alt">
    <div class="container">
        <header class="section-header">
            <span>Plans</span>
            <h2>Pricing</h2>
            <p>Choose a plan that fits your needs</p>
        </header>
        <ul class="pricing">
            <li>
                <h6>Basic</h6>
                <div class="price">
                    <sup>$</sup>0 <span>&nbsp;</span>
                </div>
                <hr>
                <p><strong>1</strong> company</p>
                <p><strong>5</strong> products (/each)</p>
                <p><strong>10</strong> employees</p>
                <br>
                <a class="btn btn-primary btn-block" href="#">Select plan</a>
            </li>
            <li>
                <h6>Professional</h6>
                <div class="price"><sup>$</sup>5<sup>.99</sup> <span>per month</span></div>
                <hr>
                <p><strong>5</strong> companies</p>
                <p><strong>50</strong> products (/each)</p>
                <p><strong>Unlimited</strong> employees</p>
                <br>
                <a class="btn btn-primary btn-block" href="#">Select plan</a>
            </li>
            <li>
                <h6>Enterprise</h6>
                <div class="price"><sup>$</sup>15<sup>.99</sup> <span>per month</span></div>
                <hr>
                <p><strong>Unlimited</strong> companies</p>
                <p><strong>Unlimited</strong> products (/each)</p>
                <p><strong>Unlimited</strong> employees</p>
                <br>
                <a class="btn btn-primary btn-block" href="#">Select plan</a>
            </li>
        </ul>
    </div>
</section>
<!--END Pricing section-->
<!--Subscribe section-->
<section class="bg-img text-center" style="background-image: url(images/background.jpg);">
    <div class="container">
        <h2><strong>Subscribe</strong></h2><h6 class="font-alt">Get new offers delivered to your inbox</h6><br><br><form class="form-subscribe" action="#">
            <div class="input-group">
                <input class="form-control input-lg" placeholder="Your email address"> <span class="input-group-btn">
                    <button class="btn btn-success btn-lg" type="submit">
                        Subscribe
                    </button>
                </span>
            </div>
        </form>
    </div>
</section>
<!--END Subscribe section-->

@section Scripts{
    <!--Include text rotator-->
    <script type="text/javascript" src="~/js/simple-text-rotator.js"></script>
    <link rel="stylesheet" href="~/css/simpletextrotator.css" />

    <script>

        $(document).ready(function () {
            $(".rotate").textrotator({
                animation: "fade",
                separator: ",",
                speed: 1650
            });
        });
    </script>

}