@page
@model DetailsModel
@{
    ViewData["Title"] = "Company Details";
    ViewData["CurrentCompany"] = Model.CurrentCompany.Name;
    ViewData["CurrentCompanyId"] = Guid.Parse((Model.HttpContext.Request.Query["id"].ToString()));
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/section.css" />
    <link rel="stylesheet" type="text/css" href="~/css/container.css" />
}

<div class="container">
    <a id="createProductButton" class="btn btn-primary"
       asp-page="/Dashboard/Product/Create" 
       asp-route-id="@Guid.Parse((Model.HttpContext.Request.Query["id"].ToString()))">
        New Product
    </a>
    <a id="manageTeamButton" class="btn btn-primary">
        Manage Team
    </a>
</div>


@{
    if (!Model.Products.Any())
    {
        <p>It seems a bit lonely here.</p>
        <p>Add some products first.</p>
        <hr />
        <a asp-page="/Dashboard/Company/Index">Come back.</a>
    }
    else
    {
        foreach (var product in Model.Products)
        {
            <div class="container">
                <a asp-page="/Dashboard/Product/Details" asp-route-id="@product.Id">
                    <span class="glyphicon glyphicon-folder-close"></span>
                    @product.Name
                </a>
                <p>@product.Description</p>
            </div>
        }
    }
}

